

// --------------------------------------------------------------------------
// FIGURE ELEMENT
// --------------------------------------------------------------------------


.Figure {
    margin: $space * 1.5 0;

    &.Figure--sm {
        margin: 0;

        img {
            width: calc(50% - #{ $space * 0.5 });
        }
    }
}

.u-inlineBlock + .u-inlineBlock {
    margin-left: $space * 0.5;
}
