
/* ==================================================================

    Grids

   ================================================================== */

/**
 * Suit grid management
 */

.Grid--withGutter {
    margin: 0 -#{$space--D2};
}

.Grid--withGutter > .Grid-cell {
    padding: 0 #{$space--D2};
}

/**
 * Flexbox!
 * https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 */

.Flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.Flex--centerItemsVertical {
    align-items: center;
}


/**
 * Responsive flex grid
 */

.FlexGrid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 -#{$space--D2};

    @include bp(sm) {
        flex-wrap: wrap;
    }
}

.FlexGrid-item {
    flex-grow: 1;
    padding: 0 $space--D2;
    width: 100%;

    @include bp(sm) {
        width: 50%;
    }

    &.is-double {
        @include bp(sm) { flex-grow: 2; }
    }
}
