

// --------------------------------------------------------------------------
// VARIABLE SETTINGS
// --------------------------------------------------------------------------


// Colours
// --------------------------------------------------------------------------

$color-black           : #222;
$color-text            : $color-black;
$color-text-rule       : rgba($color-text,0.7);
$color-white           : white;
$color-grey            : #666666;
$color-grey-rule       : rgba($color-grey,0.7);
$color-grey-lite       : #A3A39E;
$color-link            : $color-text;
$color-link-rule       : rgba($color-link,0.7);
$color-brand           : #F77C1E;
$color-bg              : #fdfdfd;
$color-bg-neutral      : #ededea;
// $color-grey-alt        : adjust-hue($color-grey, 6%);


// Base sizes
// --------------------------------------------------------------------------

$base-font-size-unit   : 21;
$base-font-size        : $base-font-size-unit * 1px;
$base-line-height-unit : 1.45;
$base-line-height      : ($base-font-size-unit * $base-line-height-unit) * 1px;


// Font sizes

$sizeCaption   : $base-font-size-unit - 8;
$sizeQuote     : $base-font-size-unit - 6;
$sizeTextSm    : $base-font-size-unit - 3;
$sizeText      : $base-font-size-unit;
$sizeTextLg    : $base-font-size-unit + 4;
$sizeHeaderXs  : $base-font-size-unit + 3;
$sizeHeaderSm  : $base-font-size-unit + 6;
$sizeHeader    : $base-font-size-unit * 1.681818182; //37

$r-sizeCaption   : rem($sizeCaption);
$r-sizeQuote     : rem($sizeQuote);
$r-sizeTextSm    : rem($sizeTextSm);
$r-sizeText      : rem($sizeText);
$r-sizeTextLg    : rem($sizeTextLg);
$r-sizeHeaderXs  : rem($sizeHeaderXs);
$r-sizeHeaderSm  : rem($sizeHeaderSm);
$r-sizeHeader    : rem($sizeHeader);


// Kerning sizes

$kernSm   :  0.01em;
$kernMd   :  0.02em;
$kernLg   :  0.03em;
$kernNSm  : -0.01em;
$kernNMd  : -0.02em;
$kernText : 0;


// Space sizes

$columnText            : rem(660); //704
$columnBio             : rem(704);
$columnPicture         : rem(840);  //55rem
$columnWidePicture     : rem(1024); //64rem

$space-unit            : rem($base-line-height); // 30
$space--D6             : $space-unit / 6;
$space--D3             : $space-unit / 3;
$space--D2             : $space-unit / 2;
$space--D1             : $space-unit / 1.33333;
$space                 : $space-unit * 1;
$space--X13            : $space-unit * 1.33333;
$space--X15            : $space-unit * 1.5;
$space--X2             : $space-unit * 2;
$space--X25            : $space-unit * 2.5;
$space--X3             : $space-unit * 3;
$space--X4             : $space-unit * 4;
$space--X5             : $space-unit * 5;
$space--X6             : $space-unit * 6;
$space--XL             : $space-unit * 10;

// Space sizes TODO

$spaceTitle            : $space * 2;
$spaceSection          : 15vh;
$spaceGutter           : $space * 0.5;

$m-spaceRatio            : 0.8;
$m-space                 : $space * $m-spaceRatio;
$m-spaceTitle            : $spaceTitle * $m-spaceRatio;
$m-spaceSection          : $spaceSection * 0.75 * $m-spaceRatio;
$m-spaceGutter           : $spaceGutter * $m-spaceRatio;


// Transition defaults
// --------------------------------------------------------------------------

$transitionDuration : 0.15s;
$transitionType     : ease-out;


// Fonts
// --------------------------------------------------------------------------

@include font-face('Chivo-Regular', '/fonts/Chivo-Regular');
@include font-face('Chivo-Italic', '/fonts/Chivo-Italic');
@include font-face('Chivo-Bold', '/fonts/Chivo-Bold');
@include font-face('Chivo-Black', '/fonts/Chivo-Black');

@include font-face('Charter-Regular', '/fonts/Charter-Regular');
@include font-face('Charter-Italic', '/fonts/Charter-Italic');
@include font-face('Charter-Bold', '/fonts/Charter-Bold');
@include font-face('Charter-BoldItalic', '/fonts/Charter-BoldItalic');

$sans-light  : 'Chivo-Regular';
$sans-reg    : 'Chivo-Regular';
$sans-reg-i  : 'Chivo-Italic';
$sans-med    : 'Chivo-Bold';
$sans-bold   : 'Chivo-Bold';
$sans-black  : 'Chivo-Black';

$serif-reg    : 'Charter-Regular';
$serif-reg-i  : 'Charter-Italic';
$serif-bold   : 'Charter-Bold';
$serif-bold-i : 'Charter-BoldItalic';

$font-stack-sans       : "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$font-stack-serif      : Georgia, Times, serif;

$font-serif-reg              : join($serif-reg, $font-stack-serif);
$font-serif-reg-i            : join($serif-reg-i, $font-stack-serif);
// $font-serif-med              : join($serif-reg, $font-stack-serif);
$font-serif-bold             : join($serif-bold, $font-stack-serif);
$font-serif-bold-i           : join($serif-bold-i, $font-stack-serif);
$font-display                : join($sans-black, $font-stack-serif);


// Breakpoints map
// --------------------------------------------------------------------------
// @access private
// @type Map
// @prop {String} key - breakpoint name
// @prop {String} value - breakpoint mapped to the key

$breakpoints: (
	'tiny'   : ( min-width:  375px ),
	'max-xs' : ( max-width:  599px ),
	'xs'     : ( min-width:  600px ),
	'sm'     : ( min-width:  767px ),
	'md'     : ( min-width:  992px ),
	'lg'     : ( min-width: 1200px )
);


// Z-indexes map, gathering all Z layers of the application
// --------------------------------------------------------------------------
// @access private
// @type Map
// @prop {String} key - Layer’s name
// @prop {Number} value - Z value mapped to the key

$z-indexes: (
	'modal'     : 8001,
	'overlay'   : 8000,
	'dropdown'  : 7000,
	'second'    : 2000,
	'first'     : 1000,
	'default'   : 1,
	'below'     : -1,
);

$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-navbar-sticky:     1030 !default;
$zindex-modal-bg:          1040 !default;
$zindex-modal:             1050 !default;
