
/* ==========================================================================

	TYPOGRAPHIC ARROWS

   ========================================================================== */

.arrow-holder {
	display: inline-block;
	background-position: 0 19px!important;
}

.arrow {
	display: block;
	float: right;
	margin-top: .5em;
	border-color: transparent;
	border-top-color: #D00;
	border-style: solid;
	border-width: .5em .31em 0;
	width: 0;
	height: 0;
	position: relative;
	line-height: 0;
}

.arrow-up {
	border-width: 0 .31em .5em;
	border-top-color: transparent;
	border-bottom-color: #FA0;
}

.arrow-left {
	border-width: .31em 0.5em .31em .0;
	border-top-color: transparent;
	border-right-color: #04F;
}

.arrow-right {
	border-width: .31em 0 .31em .5em;
	border-top-color: transparent;
	border-left-color: $color-grey;
	margin-left: rem(5);

	@include when-inside('.arrow-holder:hover') {
		border-left-color: $color-text;
	}
}


// bootstrap stylee
// See: https://css-tricks.com/snippets/css/css-triangle/
.Arrow-right:after {
	border-top: .3em solid transparent;
	border-bottom: .3em solid transparent;
	border-left: .3em solid;
	content: "";
	display: inline-block;
	height: 0;
	margin-left: .35rem;
	transform: translateY(rem(-1));
	vertical-align: middle;
	width: 0;
}

.Arrow-bottom:after {
	border-top: .3em solid transparent;
	border-bottom: .3em solid transparent;
	border-left: .3em solid;
	content: "";
	display: inline-block;
	height: 0;
	margin-left: .35rem;
	transform: translateY(rem(-2));
	vertical-align: middle;
	width: 0;
}
