section.Section
    .Container
        h1.u-marginTX2 404!
        p.u-textCenter Whoops. Looks like what you're looking for can't be found.
        p.u-textCenter Maybe what you're after is now on the #[a(href="/") home page]. Or get in touch with #[a(href="mailto:#{ site_email }") Greg directly]. He'll have the answer.
