//- | Get in touch via #[a(href="mailto:callumflack@gmail.com") email] or #[a(href="https://twitter.com/callumflack") twitter] or call #[a(href="tel:+610-408-767-540") +61(0)408 767 540].
//- | &nbsp;•&nbsp;

//- | Get in touch: 
//- | Contact: 
//- a(href="mailto:callumflack@gmail.com") email
//- a(href="mailto:callumflack@gmail.com?subject=Project inquiry&body=Hi Patternworks,%0D%0A%0D%0AI have a need / a problem / a new idea / other: ______. Our site is ______.%0D%0A%0D%0AHow do we proceed form here?%0D%0A%0D%0AKind regards, Your Name") email
//- span &nbsp;• 
//- a(href="https://twitter.com/callumflack") twitter
//- span &nbsp;• 
//- a(href="tel:+610-408-767-540") +61(0)408 767 540

| Contact: 
a(href="mailto:callumflack@gmail.com?subject=Project inquiry&body=Hi Patternworks,%0D%0A%0D%0AI have a need / a problem / a new idea / other: ______. Our site is ______.%0D%0A%0D%0AHow do we proceed form here?%0D%0A%0D%0AKind regards, Your Name") email
span &nbsp;• 
a(href="https://twitter.com/callumflack") twitter
span &nbsp;• 
a(href="tel:+610-408-767-540") +61(0) 408 767 540
