footer.Footer(role="contentinfo")
    .Container
        .HzLine
        p
            span Positive Revolution. Solution-based people development.#[br]
            //- | Be sure to check out the #[a(href="#") podcast].#[br]
            //- | And signup for the #[a(href="") newsletter].#[br]
            | Get in touch: 0457 738 099  • #[a(href="mailto:#{ site_email }") Email]#[br]
            //- | Got a need, a problem, an idea? Get in touch by #[a(href="mailto:hi@pattern.works?subject=Project inquiry&body=Hi Patternworks,%0D%0A%0D%0AI have a need / a problem / a new idea / other: ______. Our site is ______.%0D%0A%0D%0AHow do we proceed form here?%0D%0A%0D%0AKind regards, Your Name") email] or call #[a(href="tel:+610-408-767-540") +61(0) 408 767 540].
            | Always be learning, not closing.#[br]
            | © 2009–2015
