h1
    a.fineprint.fineprint--right(href="/") Pa#[span(style="letter-spacing:-0.08em") t]ternworks
    //- | *
    //- a(href="/") Patte#[span(style="letter-spacing: 0.01em") rnw]orks
    //- a(href="/") Patternworks
